
<% if (marca == "LU1") { %>

<div class="dropdown category">
    <button class="dropbtn cat-btn">Categoria</button>
    <div class="dropdown-content cat-content">
        <a href="<%=ruta%>/<%=marca%>">Todo</a>
        <a href="<%=ruta%>/<%=marca%>/cama">Camas</a>
        <a href="<%=ruta%>/<%=marca%>/almohada">Almohadas</a>
        <a href="<%=ruta%>/<%=marca%>/sabana">Sabanas</a>
    </div>
</div>

<% } else if(marca == "MA1") { %> 

<div class="dropdown category">
    <button class="dropbtn cat-btn">Categoria</button>
    <div class="dropdown-content cat-content">
        <a href="<%=ruta%>/<%=marca%>">Todo</a>
        <a href="<%=ruta%>/<%=marca%>/cama">mappa 1</a>
        <a href="<%=ruta%>/<%=marca%>/almohada">mappa 2</a>
        <a href="<%=ruta%>/<%=marca%>/sabana">mappa 3</a>
    </div>
</div>
<% } else if(marca == "NO1") { %> 

<div class="dropdown category">
    <button class="dropbtn cat-btn">Categoria</button>
    <div class="dropdown-content cat-content">
        <a href="<%=ruta%>/<%=marca%>">Todo</a>
        <a href="<%=ruta%>/<%=marca%>/cama">nooz 1</a>
        <a href="<%=ruta%>/<%=marca%>/almohada">nooz 2</a>
        <a href="<%=ruta%>/<%=marca%>/sabana">nooz 2</a>
    </div>
</div>

<% } %>