
<% if (marca == "LU1") { %>

<div class="dropdown category">
    <button class="dropbtn cat-btn">Categoria</button>
    <div class="dropdown-content cat-content">
        <a href="<%=marca%>">Todo</a>
        <a href="<%=marca%>/cama">Algo</a>
        <a href="<%=marca%>/almohada">Nada</a>
        <a href="<%=marca%>/sabana">Si</a>
    </div>
</div>

<% } else if(marca == "MA1") { %> 

<div class="dropdown category">
    <button class="dropbtn cat-btn">Categoria</button>
    <div class="dropdown-content cat-content">
        <a href="<%=marca%>">Todo</a>
        <a href="<%=marca%>/cama">Camas</a>
        <a href="<%=marca%>/almohada">Almohadas</a>
        <a href="<%=marca%>/sabana">Sabanas</a>
    </div>
</div>
<% } else if(marca == "NO1") { %> 

<div class="dropdown category">
    <button class="dropbtn cat-btn">Categoria</button>
    <div class="dropdown-content cat-content">
        <a href="<%=marca%>">Todo</a>
        <a href="<%=marca%>/cama">Camas</a>
        <a href="<%=marca%>/almohada">Almohadas</a>
        <a href="<%=marca%>/sabana">Sabanas</a>
    </div>
</div>

<% } %>