<% if (marca == "LU1") { %>

<div class="dropdown category">
  <button class="dropbtn cat-btn">Categoria</button>
  <div class="dropdown-content cat-content">
    <a href="<%=ruta%>/<%=marca%>">Todo</a>
    <a href="<%=ruta%>/<%=marca%>/cama">Luuna 1</a>
    <a href="<%=ruta%>/<%=marca%>/almohada">Luuna 2</a>
    <a href="<%=ruta%>/<%=marca%>/sabana">Luuna 3</a>
  </div>
</div>

<% } else if(marca == "MA1") { %>

<div class="dropdown category">
  <button class="dropbtn cat-btn">Categoria</button>
  <div class="dropdown-content cat-content">
    <a href="<%=ruta%>/<%=marca%>">Todo</a>
    <a href="<%=ruta%>/<%=marca%>/cama">Mappa 1</a>
    <a href="<%=ruta%>/<%=marca%>/almohada">Mappa 2</a>
    <a href="<%=ruta%>/<%=marca%>/sabana">Mappa 3</a>
  </div>
</div>
<% } else if(marca == "NO1") { %>

<div class="dropdown category">
  <button class="dropbtn cat-btn">Categoria</button>
  <div class="dropdown-content cat-content">
    <a href="<%=ruta%>/<%=marca%>">Todo</a>
    <a href="<%=ruta%>/<%=marca%>/cama">Nooz 1</a>
    <a href="<%=ruta%>/<%=marca%>/almohada">Nooz 2</a>
    <a href="<%=ruta%>/<%=marca%>/sabana">Nooz 3</a>
  </div>
</div>

<% } %>
