<%-include('includes/navigation.ejs', {
    titulo: titulo,
    promedioPuntajes: promedioPuntajes,
    tasaDeRespuesta: tasaDeRespuesta,
    encuestasEnviadas: encuestasEnviadas
}) %>

<div class="graficas">

    <div class="top-graficas">
        <div id="promedio-mes-div">
            <canvas id="promedioxMes"></canvas>
        </div>
        
        <div>
            <canvas id="tasaContestada"></canvas>
        </div>
    </div>

    <div class="bottom-graficas">
        <div id="respuesta-enviada-div">
            <canvas id="respuestaEnviada"></canvas>
        </div>
    </div>


</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let promedioMes = JSON.parse('<%- JSON.stringify(promedioPuntajes) %>');
    let tasaDeRespuesta = JSON.parse('<%- JSON.stringify(tasaDeRespuesta) %>');
    let respuestasEnviadas = JSON.parse('<%- JSON.stringify(encuestasEnviadas) %>')

</script>
<%-include('includes/footer.ejs')%>