<%-include('includes/navigation.ejs', {
    titulo: titulo,
    promedioPuntajes: promedioPuntajes,
    tasaDeRespuesta: tasaDeRespuesta,
    encuestasEnviadas: encuestasEnviadas
}) %>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="graficas">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" onclick="sendValueToServer('cama')">Camas</a></li>
            <li><a class="dropdown-item" href="#" onclick="sendValueToServer('almohada')">Almohadas</a></li>
            <li><a class="dropdown-item" href="#" onclick="sendValueToServer('sabana')">Sabanas</a></li>
        </ul>
    </div>
    <div class="top-graficas">
        <div id="promedio-mes-div">
            <canvas id="promedioxMes"></canvas>
        </div>
        
        <div>
            <canvas id="tasaContestada"></canvas>
        </div>
    </div>

    <div class="bottom-graficas">
        <div id="respuesta-enviada-div">
            <canvas id="respuestaEnviada"></canvas>
        </div>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let promedioMes = JSON.parse('<%- JSON.stringify(promedioPuntajes) %>');
    let tasaDeRespuesta = JSON.parse('<%- JSON.stringify(tasaDeRespuesta) %>');
    let respuestasEnviadas = JSON.parse('<%- JSON.stringify(encuestasEnviadas) %>')

    function sendValueToServer(value) {
        fetch('/dashboard', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ value: value })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                // Handle success response
                console.log(data);
            })
            .catch(error => {
                // Handle error
                console.error('Error:', error);
            });
    }
</script>
<%-include('includes/footer.ejs')%>