<%- include('includes/navigation.ejs')%>

<% for (let usuario of usuarios) { %>
<div class="signup-box box">
    <div class="signup-title title">
        <h4>Nombre de usuario: <%= usuario.Nombre%></h4>
    </div>
    
    <form action= "/usuarios/editar" method="POST">
        <input type="hidden" name="idusuario" value="<%= usuario.idUsuario %>" >
        <div class="credential-input">
            <label class="label" for="correo">Correo: </label>
            <input class="input is-success" type="text" placeholder="Text input" value="<%= usuario.Correo%>" name="correo" id="correo" type="text">
        </div>
        <div class="credential-input">
            <label class="label" for="password">Password: </label>
            <input class="input is-success" type="text" placeholder="Text input" value="<%= usuario.Password%>" name="password" id="password" type="text">
        </div>
        <div class="credential-input">
            <label class="label" for="idrol">IDRol: </label>
            <input class="input is-success" type="text" placeholder="Text input" value="<%= usuario.IDRol%>" name="idrol" id="idrol" type="text">
        </div>
        
        <div class="ingresarBtn">
            <input type="submit" value=" Guardar " class="ingresar-btn">
            <a href="/usuarios/LU1/1">Cancelar</a>
        </div>
            
    </form>
</div>
<% } %>

    <script>
        const editar = (id) => {
            fetch('/construcciones/delete', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'csrf-token': csrf
                    },
                    body: JSON.stringify({id: id})
                }).then(result => {
                    return result.json(); //Regresa otra promesa
                }).then(data => {
                    console.log(data);
                    let html = '';
                    
                    html += `<div id="notificacion">`;
                    if (data.construcciones.length < 1) { 
                        html += 
                            `<div class="notification is-info">
                                <button class="delete"></button>
                                No existe la construcción. 
                            </div>`;           
                    }
                    html += `</div>`;
                    let columns = 0;
                    for (let construccion of data.construcciones) { 
                        columns++;
                        html += `  
                            <p class="title is-4">${construccion.nombre}</p>
                            <img src="uploads/${construccion.imagen}" alt="Imagen de ${construccion.nombre}">
                            <button class="button is-danger" onclick="eliminar(${construccion.id})">Eliminar</button>
                        `;
                    }
                            //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
                    document.getElementById('respuesta_ajax').innerHTML = html;

                    document.getElementById('notificacion').innerHTML = 
                    `<div class="notification is-info">
                        <button class="delete"></button>
                        La construcción fue eliminada. 
                    </div>`;
                }).catch(err => {
                    console.log(err);
                });
                
        };
    </script>

<%- include('includes/footer.ejs') %>
