<%- include('includes/navigation.ejs') %>

<link rel="stylesheet" href="/ccs/usuarios-resenia.css" />
<input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" />

<div class="container-fluid">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="text">
          <h2><b>Control de usuarios</b></h2>
        </div>
      </div>

      <div id="respuesta_ajax">
        <div id="notificacion">
          <% if(usuarios.length < 1) { %>
          <div class="notification is-info">No existen Cambios.</div>
          <% } %>
        </div>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Id#</th>
              <th>Usuario</th>
              <th>Accion</th>
              <th>Fecha</th>
            </tr>
          </thead>

          <tbody>
            <% let total = 0 %> <% let modificados = 0 %> <% let creados = 0 %>
            <% let eliminados = 0 %> <% for (let usuario of usuarios) { %> <%
            total += 1 %> <% if (usuario.Accion == "Alta Usuario") { creados +=
            1}%> <% if (usuario.Accion == "Baja Usuario") { eliminados += 1}%>
            <% if (usuario.Accion == "Modifico Usuario") { modificados += 1}%>
            <tr>
              <td><%= usuario.idHistorial %></td>
              <td><%= usuario.Usuario %></td>
              <td><%= usuario.Accion %></td>
              <td><%= usuario.Fecha %></td>
            </tr>
            <% }; %>
          </tbody>
        </table>

        <div class="clearfix">
          <div class="hint-text">Movimientos totales: <b><%= total %></b></div>
          <ul class="pagination">
            <li class="page-item">Creados: <b><%= creados %></b></li>

            <li class="page-item">Eliminados: <b><%= eliminados %></b></li>

            <li class="page-item">Modificados: <b><%= modificados %></b></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('includes/footer.ejs') %>
